<template>
  <div class="section">
    <div class="container">
      <!--Title-->
      <div class="section-title has-text-centered">
        <h2 class="t-title-b">Top Tier Product</h2>
        <div class="txt-content-a1">Several large companies and agencies have trusted Brandboss to help with brand analysis. 
          <br>These are some of the companies that use Brandboss services
        </div>
      </div>
      <div class="featured-carousel owl-carousel">

        <div class="item">
          <img src="/@src/assets/illustrations/images/bri.svg" style="height: 100px;" />
        </div>

        <div class="item">
          <img src="/@src/assets/illustrations/images/bri.svg" style="height: 100px;" />
        </div>

        <div class="item">
          <img src="/@src/assets/illustrations/images/bri.svg" style="height: 100px;" />
        </div>

        <div class="item">
          <img src="/@src/assets/illustrations/images/bri.svg" style="height: 100px;" />
        </div>

        <div class="item">
          <img src="/@src/assets/illustrations/images/bri.svg" style="height: 100px;" />
        </div>

      </div>
    </div>
  </div>

</template>