<template>
  <div class="section bg-abs">
    <div class="container">
      <!--Title-->
      <div class="section-title has-text-centered">
        <h2 class="t-title-b">What words are users saying?</h2>
      </div>
      <div class="featured-carousel owl-carousel">

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="div-comment">
          Previously, we did not know whether the marketing program we were running was successful or not, now brandboss is our mainstay in measuring the success of a marketing program. Brandboss also helps us run our CSR program every week. Cool!
          <div class="grs"></div>
          <table width="100%" border="0">
            <tr>
              <td width="70"><img src="/@src/assets/illustrations/images/img-comment.svg" class="img-comment" /></td>
              <td>
                <span class="t-data1">Rahmat Subandrio</span><br>
                <span class="t-data2">PT Anugerah Cipta Mandiri</span>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!--Title-->
      <div class="bg-mxz">
        <div class="columns is-vcentered is-multiline card-icon-boxes">
          <div class="column is-6"><img src="/@src/assets/illustrations/images/smz.svg" class="img-smz" /></div>
          <div class="column is-6">
            <div class="t-title-d">So, Maximize the potential of your brand, with us !</div><br>
            <router-link :to="'https://app.brandboss.id/register'" v-slot="{ navigate, href }">
              <VButton class="btn-nav2"> Start Free Trial </VButton>
            </router-link>
            <div class="t-small">No Credit Card Required </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>