<template>
  <div class="section ">
    <div class="container">

      <!--Content-->
      <div class="py-12" style="padding-top: 80px;">
        <div class="columns is-vcentered is-multiline card-icon-boxes">
          <!--Box-->
          <div class="column is-6">
            <div class="txt-title-a1">Monitor your brand to the fullest</div><br>
            <div class="txt-content-a1">With our most complete features, you are able to analyze your brand on social media or online media.</div><br>
            <div class="txt-title-a2">Mention activities about brands in the media</div>
            <div class="txt-content-a1">You can find out the movement of mention data related to your brand, and can see sentiment related to the brand.</div><br>
            <div class="txt-title-a2">Can find out what customers are talking about your brand</div>
            <div class="txt-content-a1">You will get information, what customers are talking about, and the sentiments they get regarding the brand.</div>
            <br><br>
            <router-link :to="'https://app.brandboss.id/register'" v-slot="{ navigate, href }">
              <VButton class="btn-content"> Try it for free now </VButton>
            </router-link>
          </div>
          <!--Box-->
          <div class="column is-6">
            <img src="/@src/assets/illustrations/images/bg-right.png" style="width: 100%;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!--Title-->
      <div class="section-title has-text-centered">
        <h2 class="t-title-b">Get valuable data insight from the audience</h2>
      </div>
      <div class="columns is-vcentered is-multiline card-icon-boxes">
        <div class="column is-6">
          <div class="get-valuable">
            <table width="100%" border="0">
              <tr>
                <td width="220px">
                  <img src="/@src/assets/illustrations/images/get1.svg" class="img-get" />
                </td>
                <td>
                  <span class="t-our">Analyze your marketing efforts.</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="get-valuable">
            <table width="100%" border="0">
              <tr>
                <td width="220px">
                  <img src="/@src/assets/illustrations/images/get2.svg" class="img-get" />
                </td>
                <td>
                  <span class="t-our">Engage customer online by accesing online mention to grow customer satisfaction.</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="get-valuable">
            <table width="100%" border="0">
              <tr>
                <td width="220px">
                  <img src="/@src/assets/illustrations/images/get3.svg" class="img-get" />
                </td>
                <td>
                  <span class="t-our">Analyze the topic sentiment.</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="get-valuable">
            <table width="100%" border="0">
              <tr>
                <td width="220px">
                  <img src="/@src/assets/illustrations/images/get4.svg" class="img-get" />
                </td>
                <td>
                  <span class="t-our">Track engagement including like, share & comments.</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!--Title-->
      <div class="section-title has-text-centered">
        <h2 class="t-title-b">Monitoring your brand has never been this easy</h2>
      </div>

      <div class="columns is-vcentered is-multiline card-icon-boxes">
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo1.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Alert and notification for every transformation</div>
                  <div class="t-title-c">
                    Get an email or in-app notification regarding significant changes in your issue. Be the first to know the issue trends of your brand.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo2.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Automatic Reports</div>
                  <div class="t-title-c">
                    Save your time from creating the manual report, brandboss can do it for you. Show your daily, weekly, or monthly data and easily export the data by cool infographic with PDF format.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo3.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Show any data you need</div>
                  <div class="t-title-c">
                    Need specific data from a particular source? brandbross can handle it, filter your data based on any source you want or even the time when data showed up, you can also show data from specific audience sentiment.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo4.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Visualize Your Data</div>
                  <div class="t-title-c">
                    Visualize your data along with audience sentiment, knowing the people who are related to your issue, and knowing the editor of your issue.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo5.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Data Visualization</div>
                  <div class="t-title-c">
                    Monitor the movements of your issues with actual realtime data, Monitor other topic related to your issues and Discover what most hashtag use related to your issues .
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="column is-6">
          <div class="monitoring-brand">
            <table width="100%" border="0">
              <tr>
                <td width="95">
                  <img src="/@src/assets/illustrations/images/mo6.svg" class="img-mo" />
                </td>
                <td>
                  <div class="txt-title-a2">Don’t let your reference missing</div>
                  <div class="t-title-c">
                    Easily search data from various media, filter the data based on your needs and save your data to one project.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
