@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700,800,900');


@media (prefers-reduced-motion: reduce) {
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  -webkit-transition: none;
  -o-transition: none;
  transition: none; } 
}

.owl-carousel .owl-nav .owl-prev:hover span:before,
.owl-carousel .owl-nav .owl-next:hover span:before {
  color: #83b582; 
}

.owl-carousel .owl-nav .owl-prev {
  right: 0;
  margin-right: 20px; 
}

.owl-carousel .owl-nav .owl-next {
  right: 0; 
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 10px; 
}

.owl-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 10px;
  margin: 5px;
  background: #ddd;
  position: relative;
  border-radius: 10px; 
}

.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important; 
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #003B80; 
}

.div-comment {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #636783;
    padding: 65px 24px 52px 24px;
    border-radius: 13px;
    text-align: left; 
    background-color: #fff;
    box-shadow: 5.47px rgba(0, 0, 0, 0.08);
    background-image: url("/@src/assets/illustrations/images/petik.svg");
    background-repeat: no-repeat;
    background-position: 22px 15px;
    cursor: pointer;
}

.landing-page-wrapper .hero .navbar.is-docked:not(.is-solid) {
    top: 0;
    border-color: rgba(160, 160, 160, 0.25);
    height: 84px;
    box-shadow: none;
    background: #f9f9f9;
}

.landing-page-wrapper .hero .navbar {
    top: 0px;
    height: 84px;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    background: #f9f9f9;
    box-shadow: none;
    border: 1px solid var(--fade-grey);
    border-radius: unset;
    font-family: var(--font);
    z-index: 99;
    transition: all 0.3s;
}

.marketing-hero.is-left, .marketing-hero.is-centered {
    background: #E8EDF2 !important;
    padding-top: 84px !important;
}

.tx-head-title{
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 0em;
  color: #283252;
  max-width: none !important;
}

.tx-head-content{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #283252;
  max-width: none !important;
  margin: 12px 0px 40px 0px; 
}

.tx-head-small{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #283252;
}

.btn-head{
  height: 56px;
  width: 160px;
  border-radius: 4px;
  background-color: #003B80;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  border: 1px solid #003B80;
}

.btn-head:hover{
  background-color: #fff;
  color: #003B80;
  border: 1px solid #003B80;
}

.buttons:not(:last-child) {
    margin-bottom: 0px;
}

.landing-page-wrapper .hero .navbar .navbar-menu .navbar-item .nav-link {
    color: #6E6D7A;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.landing-page-wrapper .hero .navbar .navbar-menu .navbar-item .nav-link:hover {
    color: #003B80;
}

.landing-page-wrapper .hero .navbar .navbar-menu .navbar-item .nav-link.active {
    color: #003B80;
}

@media (max-width: 767px){
  .navbar-item, .navbar-link {
    padding: 20px 30px 0px 0px;
  }

  .bg-mxz {
    border-radius: 0px;
  }

  #mobile{
    display: none;
  }

}

@media (min-width: 767px){
  .navbar-item, .navbar-link {
    padding: 0px 30px 0px 0px;
  }

  .get-valuable{
    height: 170px;
  }

  .monitoring-brand {
    height: 182px;
  }

  .bg-mxz {
    border-radius: 16px;
  }

}

.btn-nav{
  height: 41px;
  width: 131px;
  border-radius: 8px;
  background-color: #003B80;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  border: 1px solid #003B80;
}

.btn-nav:hover{
  background-color: #fff;
  color: #003B80;
  border: 1px solid #003B80;
}

.btn-content{
  font-family: 'Lato', sans-serif;
  background-color: #003B80;
  height: 48px;
  width: 172px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.btn-content:hover{
  background-color: #fff;
  color: #003B80;
  border: 1px solid #003B80;
}

.btn-nav2{
  height: 48px;
  width: 148px;
  border-radius: 8px;
  background-color: #fff;
  color: #1A1A1A;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  border: 1px solid #fff;
}

.btn-nav2:hover{
  background-color: #003B80;
  color: #fff;
  border: 1px solid #fff;
}

.txt-title-a1{
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0em;
  color: #283252;
}

.txt-content-a1{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  font-family: 'Lato', sans-serif;
  color: #283252;
}

.txt-title-a2{
  font-family: 'Lato', sans-serif;
  color: #283252;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
}

.landing-page-wrapper .container {
    max-width: 1350px !important;
}

.vuero-footer {
    padding-bottom: 0 !important;
    padding-top: 40px !important;
    background: #00234d;
}

.t-title-b{
  font-family: 'Lato', sans-serif !important;
  font-size: 30px;
  font-weight: 800 !important;
  line-height: 45px;
  letter-spacing: 0em;
  color: #283252;
}

table td, table th {
    vertical-align: middle;
}

.t-our{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #283252;
}

.get-valuable{
  border-radius: 8px; 
  padding: 20px; 
  border:1px solid #fff; 
  box-shadow: 6.61px 6.61px 6.61px 6.61px rgba(0, 0, 0, 0.08);
}

.monitoring-brand {
  border-radius: 8px; 
  padding: 32px 20px; 
  border:1px solid #fff; 
  box-shadow: 6.61px 6.61px 6.61px 6.61px rgba(0, 0, 0, 0.08);
}

.img-get{
  height: 130px; 
  width: 100%;
}

.img-mo{
  height: 72px; 
  width: 72px;
}

.t-title-c {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #283252;
  padding-top: 16px;
}

.bg-abs {
  background-color: rgba(0, 59, 128, 0.05);
}

.bg-mxz {
  width: 100%;
  background-color: #003B80;
  padding: 0px 40px;
  margin: 20px 0px;
}

.img-smz {
  width: 100%;
}

.t-title-d{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.t-small{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
  padding-top: 10px;
}

.vuero-footer .footer-body {
    padding-top: 0px;
}

.vuero-footer .footer-copyright {
    font-family: var(--font);
    color: var(--light-text);
    padding: 20px;
}

.t-footer-title{
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff !important;
  padding-bottom: 12px;
}

.t-footer-content{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
  padding-bottom: 12px;
}

.img-medsos{
  width: 16px;
  height: 16px;
  margin-right: 17px;
  cursor: pointer;
}

.item-medsos{
  padding: 20px 0px 30px 0px;
}

@media (max-width: 767px){
  .landing-page-wrapper .navbar.is-solid .navbar-menu {
      top: 64px !important;
  }
}

@media (max-width: 767px){
  .landing-page-wrapper .navbar.is-solid .navbar-menu {
    box-shadow: none !important;
  }
}

@media (max-width: 767px){
  .landing-page-wrapper .navbar .navbar-menu {
    width: 100%;
    position: fixed;
    top: 78px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0px;
    padding: 30px;
    text-align: center;
    border: 0px solid hsl(0deg 0% 100%);
    box-shadow: none;
  }
}

.landing-page-wrapper .hero .navbar.is-solid {
    background: var(--white) !important;
    border-radius: 0px;
}

.img-comment {
    height: 51px !important;
    width: 51px !important;
}

.grs{
  color: #E6E6E6;
  margin: 20px 0px;
}

.t-data1{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  color: #636783;
}

.t-data2{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #8286A1;
}

.hr-columns{
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  margin: 10px 200px;
  padding: 20px;
}

.t-s1{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  color: #003B80;
}

.t-s2{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #283252;
}

.t-s3{
  color: #283252;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
}